* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "CirceLight", sans-serif;
}

.catalog{
    display: flex;
    padding-top: 14px;
    height: 100%;
    max-width: 1150px;
}

.catalog_list--db{
    margin-top: 24px;
}

a {
    font-family: "CirceLight", sans-serif;
    color: #0095e5;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
}

a:hover{
    background-color:#0095e5;
    color: #ffffff;
    padding: 5px 5px 5px 5px;
    border-radius: 10px 10px;
}

.catalog_list {
    transition: 0.3s;
    width: 300px;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
}

.catalog_img {
    margin-left: 200px;
    margin-top: 100px;
}

.ask_button {
    display: inline-block;
    color: #131313;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "CirceBold", sans-serif;
    font-weight: bold;
    height: 35px;
    letter-spacing: 0.65px;
    background-color: white;
    border: 2px solid #d9d9d9;
    min-width: 60px;
    margin: 15px 0px 0px 25px;
}

.ask_button:hover {
    cursor: pointer;
    background-color: #f7f9fc;
    transition: 0.3s;
}